@font-face {
	font-family: futuracondensed_medium;
	src: url(../assets/fonts/futura-condensed-medium-webfont.ttf);
}
@font-face {
	font-family: Conv_FuturaStd-Medium;
	src: url(../assets/fonts/FuturaStd-Medium.ttf); 
}
